.product-page__container{
  display: flex;
  background-color: var(--clr-light);
  margin: 0rem 1rem;
  flex-direction: column; 
  border-radius: 15px 15px 0 0;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  gap: 2rem;
}

.on-cart__button-container{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.on-cart__button-container button,
.on-cart__button-container a{
  box-sizing: border-box;
  width: 100%;
  max-width: 18rem;
  padding: 0.75rem;
}

.product-page__image{
  width: 100%;
  border-radius: 15px;
  max-width: 20rem;
}

.product-page__text-content{
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: 25rem;
}

.product-page__text-content h2{
  color: var(--clr-dark);
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 2.5rem;
}

.product-page__text-content p{
  font-size: 1.2rem;
  line-height: 1.4rem;
  color: var(--clr-secondary);
}

.product-page__container .product-price{
  color: var(--clr-accent);
  font-size: 1.7rem;
  font-weight: 900;
}

.amount-button-container{
  display: flex;
  margin: auto;
  gap: 0.5rem;
}

.amount-button-container button{
  font-size: 1.5rem;
  background-color: var(--clr-primary);
  border: none;
  border-radius: 15px;
  width: 2.5rem;
  color: var(--clr-accent);
}

.amount-button-container button:hover{
  background-color: var(--clr-accent);
  color: var(--clr-primary);
  cursor: pointer;
}

.amount-button-container p{
  color: var(--clr-dark);
  font-size: 1.25rem;
}

.view-cart,
.add-to-cart{
  background-color: var(--clr-primary);
  border: none;
  color: var(--clr-accent);
  border-radius: 15px;
  font-weight: 700;
  font-size: 1.25rem;
  padding: 1rem 4rem;
  margin: auto;
}

.view-cart:hover,
.add-to-cart:hover{
  background-color: var(--clr-accent);
  color: var(--clr-primary);
  cursor: pointer;
}

.view-cart{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.view-cart svg{
  fill: var(--clr-accent);
}

.view-cart:hover svg{
  fill: var(--clr-primary);
}

@media (min-width: 36rem){
  .product-page__container{
    margin: 0rem 3rem;
  }
}

@media (min-width: 54rem){
  .product-page__container{
    flex-direction: row;
    padding: 3rem 6rem;
    max-width: 60rem;
    justify-content: center;
  }

  .product-page__text-content{
    text-align: left;  
  }

  .product-page__image{
    max-width: 45%;
  }

  .view-cart,
  .add-to-cart, 
  .amount-button-container{
    margin: 0;
  }

  .add-to-cart{
    max-width: 15rem;
    padding: 0.5rem;
  }
}

@media (min-width: 76rem){
  .product-page__container{
    margin: auto;
  }
}
