.filtered-search{
  display: flex;
  margin-left: auto;
  max-width: 30rem;
  justify-content: center;
}

.filtered-search select{
  display: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  text-align: end;
  border: none;
  border-radius: 15px 0 0 15px;
  color: var(--clr-dark);
  background-color: var(--clr-light);
}

.filtered-search input{
  flex: 1 1 auto;
  display: none;
  outline: none;
  background: #232D25;
  border: none;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  padding: 0rem 1rem;
}

.search-button svg{
  stroke-width: 2px;
  stroke: var(--clr-accent);
}

.filtered-search .search-button{
  background-color: transparent;
  border: none;
  height: 100%;
  align-items: center;
  display: flex;
}

@media (min-width: 54rem){
  .filtered-search{
    margin-left: initial;
    width: 50%;
    min-width: 26.5rem;
  }

  .filtered-search select{
    display: block;
  }

  .filtered-search select:hover, option:hover{
    cursor: pointer;
  }
  
  .filtered-search input{
    display: block;
  }

  .filtered-search .search-button{
    padding: 0rem 1rem;
    border-radius: 0 15px 15px 0;
    background-color: var(--clr-accent);
  }

  .filtered-search .search-button:hover{
    background-color: var(--clr-primary);
    cursor: pointer;
  }

  .search-button svg {
    stroke-width: 1px;
    stroke: var(--clr-dark);
  }

  .search-button:hover svg{
    fill: var(--clr-accent);
    stroke: var(--clr-accent);
  }
}
