.login-button{
  background-color: var(--clr-primary);
  border: none;
  color: var(--clr-accent);
  padding: 0.5rem 1rem;
  border-radius: 15px;
  font-weight: 700;
  font-size: 1rem;
}

.login-button:hover{
  background-color: var(--clr-accent);
  color: var(--clr-primary);
  cursor: pointer;
}

.hamburger{
  display: flex;
  align-items: center;
  position: relative;
}

.hamburger svg{
  fill: var(--clr-accent);
}

.hamburger button{
  background-color: var(--clr-primary);
  border: none;
  border-radius: 6px;
  padding: 0.25rem;
}

.hamburger button:hover{
  background-color: var(--clr-accent);
  cursor: pointer;
}

.hamburger button:hover svg{
  fill: var(--clr-primary);
}

.hamburger-dropdown{
  position: absolute;
  top: 3rem;
  background-color: var(--clr-dark);
  width: 100vw;
  right: -1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2rem 0;
  animation: dropDown 300ms forwards;
  transform-origin: top center;
}

.hamburger-dropdown a{
  color: var(--clr-accent);
  font-size: 1rem;
  font-weight: 700;
  width: 100%;
  text-align: center;
  padding: 0.75rem 0px;
}

.hamburger-dropdown a:hover{
  color: #ffe0c0;
}

.middle-divisor{
  width: 33%;
  background-color: var(--clr-primary);
  height: 0.25rem;
}

@media (min-width: 36rem){
  .hamburger-dropdown{
    right: -3rem;
  }
}

@media (min-width: 54rem){
  .hamburger-dropdown{
    width: 11rem;
    left: -8rem;
    top: 3.2rem;
    padding: 1rem 0;
    border: 4px solid var(--clr-accent);
  }
}

@keyframes dropDown{
  0% {
      transform: scaleY(0)
  }

  100% {
      transform: scaleY(1)
  }
}
