nav{
  padding: 1rem;
  display: flex;
  background-color: var(--clr-dark);
  gap: 1.25rem;
}

nav h1{
  color: var(--clr-primary);
  background-color: var(--clr-accent);
  padding: 0.5rem 1rem;
  border-radius: 15px;
  font-weight: 900;
  font-size: 1rem;
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.no-select{
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

@media (min-width: 36rem){
  nav{
    padding: 1rem 3rem;
  }
}

/* MAKE THESE BREAK POINT VALUES GLOBAL VARIABLES */
@media (min-width: 54rem){
  nav{
    padding: 1rem 5rem;
    justify-content: space-between;
  }

  nav h1{
    padding: 0.5rem 2rem;
  }
}
